# Node.js dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript output
/tmp
/out-tsc

# IDE and editor settings
.idea
.vscode/*

# PnP
/.pnp
.pnp.js

# Project-specific
.env
